main {
    margin: auto;
}

.main-heading {
    font: 600 4.8rem/130% "Yeseva One", serif;
}

.descriptions {
    padding: 2rem 0 2.5rem 0;
    font: 400 1.6rem/130% "Kumbh Sans", sans-serif;
    color: var(--text-red);
}


/* ////////////////////// Hero Section */

.hero-section-wrapper {
    padding: 10rem 2rem;
    width: 100%;
    min-width: 30rem;
    display: flex;
    justify-content: center;
    background: url(images//hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    max-width: 100rem;
    padding: 2rem 0;
}

.hero-section>* {
    flex-basis: 100%;
}

.hero-section .column-left {
    min-width: 35rem;
    text-align: center;
}

.hero-section .column-right {
    max-height: 30rem;
}

.hero-section .hero-illus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero-section .hero-illus img {
    max-height: 30rem;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 0 2rem 0 0;
    box-shadow: -2rem 2rem var(--primary-green);
}

.hero-section #hero_cta_price {
    border-left: 1px solid var(--bg-white);
    padding: 0 1rem;
}

@media (min-width: 376px) {
    .hero-section .column-right img {
        max-width: 40rem;
    }
}

@media (min-width: 769px) {
    .hero-section .column-left {
        text-align: start;
    }
    .hero-section {
        flex-wrap: nowrap;
    }
    .hero-section .column-right figure {
        max-width: 30rem;
    }
}


/* ////////////////////////////////////// FEATURE SECTION */

.features-section-wrapper {
    padding: 2rem 0;
    background: var(--bg-pale-orange);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.features-section-wrapper .column-left .features-box,
.features-section-wrapper .column-left .benefits-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.features-section-wrapper .column-right {
    width: 100%;
    padding: 2rem;
}

.features-section-wrapper .column-left .features-box {
    background: var(--primary-green);
}

.features-section-wrapper .feature,
.features-section-wrapper .benefit {
    padding: 1rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 5rem 1fr 5rem;
    width: 100%;
}

.features-section-wrapper .benefit {
    grid-template-columns: 5rem 1fr;
}

.features-section-wrapper .feature:not(:first-child) {
    border-top: 1.5px solid hsl(115, 10%, 52%);
}

.feature .feature-img,
.benefit .benefit-img {
    overflow: hidden;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.features-section-wrapper .feature:first-child .feature-img {
    background: hsl(18deg 88% 84%);
}

.features-section-wrapper .feature:nth-child(2) .feature-img {
    background: hsl(308deg 35% 17%);
}

.features-section-wrapper .benefit:nth-child(2) .benefit-img {
    background: hsl(13deg 100% 84%);
}

.features-section-wrapper .benefit:nth-child(3) .benefit-img {
    background: hsl(251, 49%, 51%);
}

.features-section-wrapper .feature-details *,
.features-section-wrapper .benefit-details * {
    font-size: 1.2rem;
}

.features-section-wrapper .feature-details * {
    color: var(--bg-white);
}

.features-section-wrapper .feature-details .feature-head,
.features-section-wrapper .benefit-details .benefit-head {
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

.features-section-wrapper .feature-arrow {
    background: var(--bg-white);
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: .5rem;
    justify-self: center;
    align-self: center;
}

.features-section-wrapper .benefit-title {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.features-section-wrapper .benefits-box {
    background: var(--bg-white);
}

.features-section-wrapper .feature-illus {
    position: relative;
    z-index: 1;
}

.features-section-wrapper .feature-decor {
    position: absolute;
    left: 60%;
    bottom: -30%;
    transform: translateY(-30%);
    width: 20%;
}

.features-section-wrapper .feature-illus img:not(.feature-decor img) {
    max-width: 40rem;
    border-radius: 2rem 0 0 0;
    box-shadow: 2rem 2rem var(--primary-green);
}

@media (min-width: 769px) {
    .features-section-wrapper {
        grid-template-columns: 1fr 1.5fr;
    }
    .features-section-wrapper .column-right {
        max-width: 60rem;
        height: fit-content;
    }
    .features-section-wrapper .feature,
    .features-section-wrapper .benefit-title,
    .features-section-wrapper .benefit {
        max-width: 35rem;
    }
}


/* //////////////////////////////////////// QUALITY SECTION */

.quality-section-wrapper {
    background: var(--bg-pale-orange);
}

.quality-section {
    max-width: 100rem;
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: auto
}

.quality-section>* {
    flex-basis: 100%;
}

.quality-section .column-right {
    text-align: center;
}

.quality-section .column-left {
    max-height: 40rem;
}

.quality-section .quality-illus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.quality-section .quality-illus img {
    max-height: 40rem;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 0 2rem 0 0;
    box-shadow: -2rem 2rem var(--primary-green);
}

@media (min-width: 376px) {}

@media (min-width: 769px) {
    .quality-section .quality-illus img {
        max-height: 30rem;
    }
    .quality-section .column-right {
        text-align: start;
    }
    .quality-section {
        flex-wrap: nowrap;
    }
}